<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/imgareaselect-default.css" />
    <script type="text/javascript" src="/static/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/static/scripts/jquery.imgareaselect.pack.js"></script>
    <title>Expense Tracker - Crop</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>    	#btn {
            background-color: #94cae3;
            /* padding: 10px 10px; */
            height: 40px;
            width: 120px;
            border: 0;
            border-radius: 3px;
            position: fixed;
          }

    </style>
  </head>

  <body>
    <form action="/">
      <input id = "btn" type="submit" value="Home Page" style = "font-size:16px; text-decoration: none; cursor: pointer;">
    </form>

    <br><br><br><br>

    <div align="center">
      <img id="image_crop" src="{{url_for('crop_image', filename=image_name)}}" alt= "Invoice">
    </div>
    <br>

    <form action="/confirm_crop" id="submit" method="post">
      <input type="submit" style = "display: none;">
    </form>
  </body>


<script type="text/javascript">
  $(document).ready(function () {
      var ias = $('#image_crop').imgAreaSelect({
          handles: true,
          onSelectEnd: confirmFunction,
          instance: true
          });
      function confirmFunction(img, selection) {
            var r =confirm("Confirm the current selection.");
            if (r == true) {
              fetchResult_OCR(selection.x1,selection.x2,selection.y1,selection.y2)
            } else {
              console.log("cancel");
              ias.cancelSelection();
            }}
    });

   function fetchResult_OCR(x1,x2,y1,y2) {
     var e = document.getElementById("submit");
      const URL = `/confirm_crop/{{image_name}}?x1=${x1}&x2=${x2}&y1=${y1}&y2=${y2}`;
      document.getElementById("submit").action = URL;
      console.log(URL);
      document.getElementById("submit").submit();
    }

</script>
</html>
